body { 
	background-image: url("background.png"); 
}

.hero-unit { 
	background-color: #fff; 
}

@media (min-width: 800px) {
	.hero-unit { 
		background-color: #fff;
		width: 50%;
		margin: 0 auto;
	}
}

.center { 
	display: block; 
	margin: 0 auto; 
}

.center_image_dropdown {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.center_image_dropdown img {
    width: 200px;
}

.center_image_profile {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.center_image_profile img {
    width: 300px;
}